@page
@model vistacuidadop.App.frotend.Pages.cuidadosModel
@{
}
<style>
    form{
        background-color: paleturquoise;
    }
</style>
<h1>CUIDADOS Y RECOMENDACIONES</h1>
<br>
<h2>Formulario de Registro</h2>
<p>Por favor ingrese los datos solicitados en su totalidad</p>
<br>
<form action="">
    <label>Descripcion del cuidado  :  </label>
    <input type="text">
    <br>
    <br>
    <input type="submit" value="Guardar Datos">
    <br>
</form>