@page
@model vistacuidadop.App.frotend.Pages.historiasModel
@{
}
<style>
    form{
        background-color: greenyellow;
    }
</style>
<h1>HISTORIAS CLINICAS VETERINARIA PORCINA</h1>
<br>
<h2>Formulario de Historia</h2>
<p>Por favor ingrese los datos solicitados en su totalidad</p>
<br>
<hr>
<form action="">
    <label>Fecha --------- :  </label>
    <input type="text">
    <br>
    <label>Diagnostico --- :  </label>
    <input type="text">
    <br>
    <br>
    <input type="submit" value="Guardar Datos">
    <br>
</form>