@page
@model vistacuidadop.App.frontend.Pages.integrantesModel
@{
}
<h1>EQUIPO DE TRABAJO DE PROYECTO</h1>
<h2>Integrantes</h2>
<br>
<img alt="logo" src="https://thumbs.dreamstime.com/b/metodolog%C3%ADa-del-software-de-desarrollo-diagrama-y-concepto-melé-icono-s%C3%ADmbolo-ágiles-ciclo-vital-trabajo-equipo-120699009.jpg" width="300px"/>
<hr>

<ol>
    <li>Zoraya Pineda Araque</li>
    <li>Saray Padilla Herrera</li>
    <li>Edison Alexis Torres </li>
    <li>Hector Alonso Pinzon</li>
    <li>Cristian Isaza</li>
</ol>