@page
@model vistacuidadop.App.frotend.Pages.registropropModel
@{
}
<style>
    form{
        background-color: bisque;
    }
</style>
<h1>REGISTRO PROPIETARIOS</h1>
<br>
<h2>Formulario de Registro</h2>
<p>Por favor ingrese los datos solicitados en su totalidad</p>
<br>
<img alt="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU1ZjYu6y4p8n8Y0hkZRfHCcpkhs4hFiYPTQ&usqp=CAU" width="100px"/>
<hr>
<form action="">
    <label>Numero de Cedula ----- :  </label>
    <input type="text">
    <br>
    <label>Nombres -------------- :  </label>
    <input type="text">
    <br>
    <label>Apellidos ------------ :  </label>
    <input type="text">
    <br>
    <label>Direccion ------------ :  </label>
    <input type="text">
    <br>
    <label>Numero Telefono ------ :  </label>
    <input type="text">
    <br>
    <label>Correo Electronico --- :  </label>
    <input type="text">
    <br>
    <label>Ciudad --------------- :  </label>
    <input type="text">
    <br>
    <br>
    <input type="submit" value="Guardar Datos">
    <br>
</form>