@page
@model vistacuidadop.App.frotend.Pages.registrocModel
@{
}
<style>
    form{
        background-color: aqua;
    }
</style>
<h1>REGISTRE UN NUEVO CERDITO </h1>
<br>
<h2>Formulario de Registro</h2>
<p>por favor ingrese los datos solicitados en su totalidad</p>
<br>
<img alt="logo" src="https://static.vecteezy.com/system/resources/previews/003/607/581/non_2x/pig-cartoon-cute-swine-illustration-vector.jpg" width="100px"/>
<hr>
<form action="">
    <label>Nombre del Cerdito---  </label>
    <input type="text">
    <br>
    <label>Color--------------- </label>
    <input type="text">
    <br>
    <label>Especie------------- </label>
    <input type="text">
    <br>
    <label>Raza ---------------</label>
    <input type="text">
    <br>
    <br>
    <input type="submit" value="Guardar Datos">
    <br>
</form>