@page
@model vistacuidadop.App.frotend.Pages.registrovetModel
@{
}
<style>
    form{
        background-color: lightcoral;
    }
</style>
<h1>REGISTRO VETERINARIOS 2</h1>
<br>
<h2>Formulario de Registro</h2>
<p>por favor ingrese los datos solicitados en su totalidad</p>
<br>
<img alt="logo" src="https://static.vecteezy.com/system/resources/previews/003/607/581/non_2x/pig-cartoon-cute-swine-illustration-vector.jpg" width="100px"/>
<br>
<form action="">
    <label>Numero de Cedula ------------ :  </label>
    <input type="text">
    <br>
    <label>Nombres --------------------- :  </label>
    <input type="text">
    <br>
    <label>Apellidos ------------------- :  </label>
    <input type="text">
    <br>
    <label>Direccion ------------------- :  </label>
    <input type="text">
    <br>
    <label>Numero Telefono ------------- :  </label>
    <input type="text">
    <br>
    <label>Tarjeta Profesional --------- :  </label>
    <input type="text">
    <br>
    <label>Especialidad ---------------- :  </label>
    <input type="text">
    <br>
    <br>
    <input type="submit" value="Guardar Datos">
    <br>
</form>