@page
@model vistacuidadop.App.frotend.Pages.visitasModel
@{
}
<style>
    form{
        background-color: yellowgreen;
    }
</style>
<h1>VISITAS MEDICAS VETERINARIA PORCINA</h1>
<br>
<h2>Formulario de Visita</h2>
<p>Por favor ingrese los datos solicitados en su totalidad</p>
<br>
<form action="">
    <label>Fecha y Hora --------------- :  </label>
    <input type="text">
    <br>
    <label>Temperatura ---------------- :  </label>
    <input type="text">
    <br>
    <label>Peso en kg ------------------ :  </label>
    <input type="text">
    <br>
    <label>Frecuencia Respitatoria ---- :  </label>
    <input type="text">
    <br>
    <label>Frecuencia Cardiaca -------- :  </label>
    <input type="text">
    <br>
    <label>Estado de Animo ------------- :  </label>
    <input type="text">
    <br>
    <br>
    <input type="submit" value="Guardar Datos">
    <br>
</form>