@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    div.p{
        background-color: lawngreen;
    }
</style>
<div class="row">
    <div class="col-3">
        <img src="~/img/vetporcina.jpeg" class="img-fluid" />
    </div>
    <div class="col-9">
        <h1 class="display-4">VETERINARIA PORCINA</h1>
        <h2>CICLO 3 - Grupo 46 - Grupo de trabajo No. 4</h2>
        <p>Los cerdos criados deben recibir una alimentación saludable. Para el bienestar de los cerdos, no se trata
            únicamente de la cantidad, sino también de ofrecer nutrientes en la proporción adecuada para el desarrollo
            de
            los animales. Obviamente, el volumen de la ración va a depender de la edad y de la fase de producción de los
            animales. Cerdas y lechones, por ejemplo, tienen necesidades diferentes de las de un cerdo en fase de
            terminal.
        </p>
    </div>
</div>